language: rust
rust:
  - nightly
cache: cargo
services:
  - postgresql
before_script:
  - psql -c 'create database codedaily_test;' -U postgres
  - echo "DATABASE_URL=postgres://postgres@localhost/codedaily_test" > .env
  - cargo install diesel_cli --no-default-features --features=postgres
  - diesel migration run
script:
  - cargo build --verbose --all
  - cargo test --verbose --all
