$brand-color: #689f38;
$secondary-color: #ff8f00;

$transparent-015: rgba(0, 0, 0, .15);


$background-color: #fdfdfd;

$header-font-color: #333;

$logo-background-color: $brand-color;
$logo-color: #fff;

$header-link-hover-color: #ccc;
$header-link-active-background-color: #f0f0f0;

$content-border-color: #f6f6f6;
$content-link-color: #555;
$content-link-title-color: #555;
$content-link-before-background-color: $secondary-color;
$content-link-before-color: #fff;
$content-post-meta-color: $secondary-color;

$pagination-hover-color: $brand-color;
$pagination-active-color: #fff;
$pagination-active-background-color: $brand-color;

$login-background-color: #fff;

$mobile-icon-background-color: #fff;
$mobile-filter-list-background-color: #fff;
