@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$view-width: 700px;

html {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
  background: #FDFDFD;
  font-family: "Inconsolata", -apple-system, BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
}

.container {
  width: 100%; height: 100%;
  padding: 0;
  margin: 0 auto;

  .header {
    max-width: $view-width;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 20px;
    cursor: default;
    line-height: 32px;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    span {
      background: #689F38;
      color: #FFF;
      width: 32px; height: 32px;
      display: inline-block;
      text-align: center; line-height: 32px;
      border-radius: 3px;
    }

    .user-control {
      width: auto;
      height: 32px;
      position: absolute;
      top: 20px; right: 20px;
      font-size: 16px;
      line-height: 32px;
      text-align: right;

      .filter-list {
        list-style: none;
        margin: 0; padding: 0;
        text-align: right;

        &:after {
          content: ".";
          display: block;
          visibility: hidden;
          clear: both;
        }

        li {
          display: inline-block;
          &:before {
            content: "|";
            padding: 0 10px;
          }

          &:first-child {
            &:before {
              content: "";
            }
          }

          a {
            color: #333;
            text-decoration: none;
            padding: 5px 8px;
            border-radius: 3px;
            font-weight: normal;

            &:hover {
              color: #CCC;
            }

            &.active {
              background: #F0F0F0;
              color: #333;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
  .content {
    border-top: 1px solid #F6F6F6;

    .main {
      padding: 20px;
      max-width: $view-width;
      margin: 0 auto;
    }

    .link-list {
      list-style: none;
      counter-reset: codedaily-news-list;
      margin: 0; padding: 0;
      
      li {
        margin-bottom: 24px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #EEE;

        a {
          display: block;
          text-decoration: none;
          position: relative;
          padding-left: 35px;
          color: #555;

          &:before {
              content: counter(codedaily-news-list);
              counter-increment: codedaily-news-list;
              display: block;
              position: absolute;
              left: 0px;
              border-radius: 3px;
              background: #FFF;
              text-align: right;
              line-height: 21px;
              color: #FF8F00;
              font-size: 1.1em;
              font-weight: bold;
              width: 24px;
          }

          .post-title {
            color: #333;
            font-weight: 600;
            font-size: 1.1em;
          }

                    &:hover {
            .post-title {
              color: #555;
            }
          }

          &:visited {
            opacity: 0.6;
          }
        }

        .post-desc {
            margin: 10px 0 10px 34px;
            text-align: justify;
        }

        .post-meta {
            margin: 5px 0 5px 34px;
            font-size: 0.8em;

            span {
                color: #333;
                font-weight: bold;
            }
        }

      }
    }

    .pagination {
      margin: 0; padding: 5px;
      list-style: none;
      text-align: center;
      
      li {
        display: inline-block;
        cursor: pointer;
        width: 24px; height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;

        &:hover {
          color: #689F38;
        }

        &.active {
          background: #689F38;
          color: #FFF;
        }
      }
    }
  }

  .toggle-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    .header {
      width: 100vw !important;
    }
  }
  .content {
    .main {
      width: 100vw !important;
      .post-desc {
          padding-right: 20px;
      }
    }
  }
}

::-webkit-scrollbar-track
{
	background-color: #eeeeee;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #cccccc;
}

::-webkit-scrollbar-thumb
{
	background-color: #cccccc;
  border: none;
}

.login-box {
  width: 100%; height: 100%;
  padding: 20px;
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  z-index: 999;

  input[type=email], input[type=text], input[type=password] {
    border: none;
    outline: none;
    font-family: "Inconsolata", -apple-system, BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
  }

  .step-show {
    display: block;
  }

  .step-hide {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    .user-control {
      width: 100% !important;
      display: block;
    }

    .toggle-icon {
      position: relative;
      border: 1px solid rgba(0,0,0,.15);
      background-color: white;
      border-radius: 2px;
      width: 2.5em;
      height: 2.5em;
      display: inline-block;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .filter-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 15px 0 !important;
      z-index: 1000;
      background: #fff;
        li {
          &:before {
            content: "" !important;
          }
          margin-top: 8px;
          margin-left: 8px;
          display: flex !important;
          flex-direction: row;
          justify-content: flex-start;
          a {
            &:before {
              content: "";
            }
            width: 100%;
            text-align: left;
            padding: 0 17px !important;
          }
        }
    }

    .show {
      position: absolute;
    }

    .hide {
      display: none;
    }
  }
}
