@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$view-width: 60vw;

html {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
  background: #FDFDFD;
  font-family: "Inconsolata", -apple-system, BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
}

.container {
  width: 100%; height: 100%;
  padding: 0;
  margin: 0 auto;

  .header {
    width: $view-width;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 20px;
    cursor: default;
    line-height: 32px;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    span {
      background: #689F38;
      color: #FFF;
      width: 32px; height: 32px;
      display: inline-block;
      text-align: center; line-height: 32px;
      border-radius: 3px;
    }

    .user-control {
      width: auto;
      height: 32px;
      position: absolute;
      top: 20px; right: 20px;
      font-size: 16px;
      line-height: 32px;
      text-align: right;

      .filter-list {
        list-style: none;
        margin: 0; padding: 0;
        text-align: right;

        &:after {
          content: ".";
          display: block;
          visibility: hidden;
          clear: both;
        }

        li {
          display: inline-block;
          &:before {
            content: "|";
            padding: 0 10px;
          }

          &:first-child {
            &:before {
              content: "";
            }
          }

          a {
            color: #333;
            text-decoration: none;
            padding: 5px 8px;
            border-radius: 3px;
            font-weight: normal;

            &:hover {
              color: #CCC;
            }

            &.active {
              background: #F0F0F0;
              color: #333;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
  .content {
    border-top: 1px solid #F6F6F6;

    .main {
      padding: 20px;
      width: $view-width;
      margin: 0 auto;
    }

    .link-list {
      list-style: none;
      counter-reset: codedaily-news-list;
      margin: 0; padding: 0;
      
      li {
        margin-bottom: 24px;
        padding: 0;

        a {
          display: block;
          text-decoration: none;
          position: relative;
          padding-left: 35px;
          color: #555;

          &:before {
            content: counter(codedaily-news-list);
            counter-increment: codedaily-news-list;
            width: 24px; height: 24px;
            display: block;
            position: absolute;
            top: 0; left: 0;
            border-radius: 3px;
            background: #FF8F00;
            text-align: center;
            line-height: 24px;
            color: #FFF;
            font-size: 0.8em;
            font-weight: bold;
            margin-right: 10px;
          }

          .post-title {
            color: #333;
            font-weight: 600;
          }

          &:hover {
            .post-title {
              color: #555;
            }
          }

          &:visited {
            opacity: 0.6;
          }

          .post-meta {
            margin: 5px 0;
            font-size: 0.8em;

            span {
              color: #FF8F00;
              font-weight: bold;
            }
          }
        }
      }
    }

    .pagination {
      margin: 0; padding: 5px;
      list-style: none;
      text-align: center;
      
      li {
        display: inline-block;
        cursor: pointer;
        width: 24px; height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;

        &:hover {
          color: #689F38;
        }

        &.active {
          background: #689F38;
          color: #FFF;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .header {
      width: 100vw !important;
    }
  }
  .content {
    .main {
      width: 100vw !important;
    }
  }
}

::-webkit-scrollbar-track
{
	background-color: #eeeeee;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #cccccc;
}

::-webkit-scrollbar-thumb
{
	background-color: #cccccc;
  border: none;
}

.login-box {
  width: 100%; height: 100%;
  padding: 20px;
  position: fixed;
  top: 0; left: 0;
  background: #fff;
  z-index: 999;

  input[type=text], input[type=password] {
    border: none;
    outline: none;
    font-family: "Inconsolata", -apple-system, BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
  }

  .step-show {
    display: block;
  }

  .step-hide {
    display: none;
  }
}
